POSTGRES_DB=gexusfilm
POSTGRES_USER=gexusfilm
POSTGRES_PASSWORD=change-this-postgres-password

MEILI_ENV=production
MEILI_MASTER_KEY=change-this-meilisearch-master-key

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=