TMDB_API_KEY=your_tmdb_api_key

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gexusfilm
DB_USERNAME=gexusfilm
DB_PASSWORD=gexusfilm-local-password

CACHE_TTL_MINUTES=1440

MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_API_KEY=gexusfilm-local-master-key
MEILISEARCH_MEDIA_INDEX=media
MEILISEARCH_PEOPLE_INDEX=people
